{
	"presets": [
		"@babel/preset-env",
	],
	"env": {
		"production": {
			"plugins": [
				"@babel/plugin-proposal-class-properties",
			]
		},
		"test": {
			"plugins": [
				"@babel/plugin-proposal-class-properties",
				"@babel/plugin-transform-runtime"
			]
		}
	}
}